@media screen and (max-width:420px) {
    * {
        box-sizing: border-box;
        margin: 0%;
        padding: 0%;
        font-family: "Montserrat", sans-serif;
    }

.projetos{display: none;}
p{display:none}

        























    }
















